.estilo-imagen {
  width: 250px;
  height: 200px;
}

.detalles-div {
  flex-direction: row;
  margin: 16px;
  display: flex;
}

* {
  padding: 20px;
}


.barco-content {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.p-data-barco {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
